@using Vidly.ViewModels
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h3>Movies</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model?.Movies?.Any() ?? false)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Movie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model.Movies)
                        {
                            <tr>
                                <td>@Html.ActionLink(@movie.Name, "Details", "Movies", new { id = @movie.Id }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No movies available</p>
            }
        </div>
    </div>
</div>