@using Vidly.ViewModels
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h3>Customers</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model?.Customers?.Any() ?? false)
            {
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Customer</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                        <tr>
                            <td>@Html.ActionLink(@customer.Name, "Details", "Customers", new { id = @customer.Id}, null)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>No customers available</p>
            }
        </div>
    </div>
</div>